@import '../../assets/css/site.css';
@import '../../assets/css/navigation.css';
@import '../../assets/css/btn.css';
@import '../../assets/css/info.css';



body{
    background-color: #704214;
}

h1{
    color: white;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 3rem;
}
#customers {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
  gap: 1rem;
  
}

.title{
  font-size: 4rem;
}

.card {
    border: solid 5px rgb(255, 255, 255);
    padding: 0.4rem;
    border-radius: 15px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    list-style: none;
  }
  
  img{
      width: 100%;
      height: 50vh;
      object-fit:contain
  }

  li.card:hover{
    transform: scale(1.03);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease;
  }
 
 